<div class="flex gap-2 relative">
    <input type="checkbox" [id]="question.name" [formControl]="question.control" [disabled]="question.disabled" class="
      relative peer shrink-0
      appearance-none w-4 h-4 border-2 border-orange-500 rounded-sm bg-white
      mt-1
      checked:bg-orange-800 checked:border-0"
    />
    <label [attr.for]="question.name">{{ question.label }}</label>
    <svg
  class="
    absolute 
    inset-0
    w-4 h-4 mt-1
    hidden peer-checked:block
    pointer-events-none"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 24 24"
  fill="none"
  stroke="white"
  stroke-width="4"
  stroke-linecap="round"
  stroke-linejoin="round"
>
  <polyline points="20 6 9 17 4 12"></polyline>
</svg>
</div>
