#date_picker {
    width: 300px;
    position: relative;
    padding-bottom: 4px;
  }
  
  #date_picker_input {
    margin-bottom: 8px;
  }
  
  label {
    font-size: 1.02rem;
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  #date:hover {
    cursor: pointer;
  }
  
  #date.onFocus:focus {
    outline: none;
  }
  
  #date_picker_input:after {
    content: "▾";
    padding: 12px 15px;
    position: absolute;
    right: 4px;
    top: 42%;
    color: #8A8F9F;
  }
  
  #date_picker_input.showCal:after {
    transform: rotate(180deg);
  }
